.main3_nhacsi {
  color: #f0efef;
  display: -ms-grid;
  display: grid;
  gap: 3rem;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.main3_nhacsi .box_nhacsi {
  width: 100%;
  height: 15rem;
  text-align: center;
  cursor: pointer;
}

.main3_nhacsi .box_nhacsi .box-img {
  margin: auto;
  overflow: hidden;
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.main3_nhacsi .box_nhacsi .box-img .img-hover {
  position: relative;
}

.main3_nhacsi .box_nhacsi .box-img .img-hover img {
  width: 100%;
}

.main3_nhacsi .box_nhacsi .box-img .img-hover .icon {
  position: absolute;
  right: 37%;
  top: 39%;
  font-size: 2.5rem;
  display: none;
}

.main3_nhacsi .box_nhacsi .box-img .img-hover:hover {
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.main3_nhacsi .box_nhacsi .box-img .img-hover:hover .icon {
  display: block;
}

.main3_nhacsi .box_nhacsi button {
  -webkit-box-shadow: 0 3px 5px 2px rgba(105, 165, 255, 0.247);
          box-shadow: 0 3px 5px 2px rgba(105, 165, 255, 0.247);
  width: 10rem;
  background: #4796ca;
  border: none;
  border-radius: 3rem;
  padding: 0.5rem 1.2rem;
  color: #fdfeff;
}

.main3_nhacsi .box_nhacsi button:hover {
  background: #3778a3;
}

.title_all::before {
  content: "|";
  color: #6ed1ff;
  font-weight: bold;
  width: 2rem;
  margin-right: 1rem;
}

.box-music {
  overflow: auto;
  height: 350px;
}

.box-music .music_item {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.452);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.452);
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  position: relative;
  border-radius: 0.3rem;
  color: #d6f4f8;
  border: 0.12rem solid #2b93a5;
  background: -webkit-gradient(linear, left top, right bottom, from(#2a6392), to(#8198d6));
  background: linear-gradient(to bottom right, #2a6392, #8198d6);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3.7rem 2fr 1fr 5rem;
      grid-template-columns: 3.7rem 2fr 1fr 5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.box-music .music_item img {
  width: 45px;
  height: 45px;
  margin: 0.2rem;
  border-radius: 0.3rem;
}

.box-music .music_item .box-icon {
  cursor: pointer;
  border-radius: 0.3rem;
  position: absolute;
  left: 0.2rem;
  top: 0.1rem;
  width: 45px;
  height: 45px;
  font-size: 1.5rem;
  padding: 0.2rem 0.2rem 2.7rem 0.75rem;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: rgba(0, 0, 0, 0.5);
}

.box-music .music_item:hover .box-icon {
  opacity: 1;
}

.box-music .music_item:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#245680), to(#6f84be));
  background: linear-gradient(to bottom right, #245680, #6f84be);
}

.box-music .music_item div:nth-of-type(2) h6 {
  width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.box-music .music_item div:nth-of-type(3) {
  margin-top: 0.8rem;
}

.box-music .music_item div:nth-of-type(4) {
  margin-top: 0.7rem;
}

.box-music .music_item div .icon {
  margin-left: 0.4rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.box-chart {
  width: 100%;
  background: -webkit-gradient(linear, left top, right bottom, from(#2a6392), to(#8198d6));
  background: linear-gradient(to bottom right, #2a6392, #8198d6);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.473);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.473);
  border-radius: 0.3rem;
  gap: 0.5rem;
  padding-left: 1rem;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.5rem 3rem 50% 1fr 0.4fr;
      grid-template-columns: 2.5rem 3rem 50% 1fr 0.4fr;
  height: 3.7rem;
}

.box-chart:hover {
  background-color: #22699c;
}

.box-chart .box-icon {
  cursor: pointer;
  border-radius: 0.3rem;
  position: absolute;
  left: 3.3rem;
  top: 0.5rem;
  width: 45px;
  height: 45px;
  font-size: 1rem;
  padding: 0.6rem 0rem 2rem 1rem;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: rgba(0, 0, 0, 0.5);
  color: #f8f8f8;
  border: 0.01rem solid rgba(110, 255, 248, 0.5);
}

.box-chart:hover .box-icon {
  opacity: 1;
}

.box-chart .stt,
.box-chart .tyle {
  color: rgba(74, 144, 226, 0);
  line-height: 3.7rem;
  font-size: 1.5rem;
  -webkit-text-stroke: 1px #6ed1ff;
  padding-right: 1rem;
}

.box-chart img {
  cursor: pointer;
  border-radius: 0.3rem;
  margin-top: 0.5rem;
}

.box-chart .name {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.box-chart .name h6 {
  color: #fff;
  margin-top: 0.4rem;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.box-chart .icon {
  cursor: pointer;
}

.box-chart .time_txt, .box-chart .icon_item {
  color: #fff;
  line-height: 3.7rem;
}

.box-chart .icon_item .icon {
  margin-right: 1rem;
}

.list-box-musicChart {
  overflow: auto;
  height: 28rem;
  padding-right: 0.5rem;
}

.slick-track {
  margin-left: 0 !important;
}

.box {
  position: relative;
  border-radius: 0.3rem;
}

.box h6 {
  color: #ffffff;
}

.box figure {
  overflow: hidden;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.438);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.438);
}

.box figure img {
  border-radius: 0.3rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
  height: 230px;
}

.box .icon-box_category div, .box .icon-box div {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.3rem;
  position: absolute;
  width: 100%;
  height: 230px;
  background: rgba(0, 0, 0, 0.473);
  top: 0;
  bottom: 0;
}

.box .icon-box_category div .icon, .box .icon-box div .icon {
  color: #fff;
  font-size: 1.7rem;
  margin: 0.5rem;
  cursor: pointer;
}

.box .icon-box_category div .icon:nth-of-type(2), .box .icon-box div .icon:nth-of-type(2) {
  font-size: 3.3rem;
}

.box .icon-box_category div .icon:hover, .box .icon-box div .icon:hover {
  color: #aefcff;
}

.box .icon-box_category {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1 !important;
}

.box .icon-box_category div {
  background: -webkit-gradient(linear, left bottom, left top, from(#1f495cbe), to(transparent));
  background: linear-gradient(to top, #1f495cbe, transparent);
}

.box .icon-box {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0 !important;
}

.box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.box:hover .icon-box {
  opacity: 1 !important;
}

.box .option {
  opacity: 0;
  position: absolute;
  top: 33%;
  left: 61%;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.list-slider {
  margin-top: 2rem;
}

.list-slider .slick-track, .list-slider .slick-slider .slick-list {
  margin-left: -1.9rem;
}

.list-slider .slick-slide {
  border-left: 2rem solid #00000000;
}

.list-slider h4 {
  color: #fff;
}

.list-slider div .slick-prev:before {
  color: #6ee9ff;
  content: "\003c";
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.10rem 1rem 0.38rem 1rem;
  border-radius: 0.3rem;
  background-color: #0c1020;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.795);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.795);
}

.list-slider div .slick-next:before {
  color: #6ee9ff;
  content: "\003e";
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.10rem 1rem 0.38rem 1rem;
  border-radius: 0.3rem;
  background-color: #0c1020;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.795);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.795);
}

.list-slider div .slick-prev {
  position: absolute;
  z-index: 1;
  left: 89%;
  top: -12%;
}

.list-slider div .slick-next {
  position: absolute;
  z-index: 1;
  left: 95%;
  top: -12%;
}

.Pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

.Pagination nav ul li button {
  font-size: 1.1rem;
  color: #fff;
}

.Pagination nav ul li .css-1v2lvtn-MuiPaginationItem-root {
  color: #fff;
}

line {
  stroke-dasharray: 3, 3;
  stroke: rgba(32, 252, 234, 0.199);
  fill: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.search_music {
  position: relative;
}

.search_music .fa-search {
  color: #39a0db;
  position: absolute;
  top: 0.8rem;
  left: 0.5rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.search_music .key_name {
  width: 17rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.search_music input {
  padding: 0.7rem 0.7rem 0.7rem 2.3rem;
  color: #d9f3ff;
  width: 100%;
  border-radius: 0.2rem;
  background-color: #0c1629;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.692);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.692);
  border: none;
}

.search_music input:focus + .results {
  display: block;
}

.search_music .results {
  border-radius: 0 0 0.4rem 0.4rem;
  background-color: #080f1b;
  color: #cdefff;
  position: absolute;
  width: 100%;
  display: none;
  z-index: 1000;
}

.search_music .results a {
  display: block;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main3_nhacsi {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 700px) {
  .list-slider div .slick-prev {
    left: 75%;
  }
  .list-slider div .slick-next {
    left: 88%;
  }
  .list-slider div img {
    width: 100%;
  }
  .main3_nhacsi {
    gap: 0rem;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .main3_nhacsi .box_nhacsi {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
/*# sourceMappingURL=handeSame.css.map */