.add {
    height: 11.78rem;
    width: 100%;

}
.box-canhan{
    height: 12rem;
    .box{
      figure{
        height: 12rem;
        img{
            height: 12rem;
        }
        
    }.icon-box{
            div{
                height: 12rem;   
            }
         
        }  
    }
    
}