.Personal {
    $color_while: rgb(228, 228, 228);
    padding: 2rem;
    .info_Personal {
        display: flex;
        justify-content: center;
        .info_main {
            text-align: center;
            flex-direction: column;
            h2 {
                color: $color_while;
            }
            img {
                border-radius: 100%;
            }
        }
    }
    .Tabs_info {
        .tab_Personal {
            display: flex;
            justify-content: center;
            .tab_item {
                border-radius: 4rem;
                background: #3689a5;
                padding: 0.5rem;
                color: $color_while;
                margin-top: 2rem;
                li {
                    display: inline;
                    padding: 3rem;
                    cursor: pointer;
                }
            }
        }
        .overview {
            h3 {
                color: rgb(231, 231, 231);
            }
            .main1 {
                display: grid;
                grid-template-columns: 30% 70%;
                gap: 1rem;
                margin-bottom: 2rem;
                .box-slider {
                    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.452);
                    height: 262px;
                    div {
                        img {  
                            border-radius: 0.3rem;
                            width: 100%;
                            height: 262px;
                            cursor: grab;
                        }
                        .slick-prev:before,
                        .slick-next:before {
                            display: none;
                        }
                    }
                   
                }
                .box-music {
                    overflow: auto;
                    height: 262px;
                    .music_item {
                        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.452);
                        margin-bottom: 1rem;
                        margin-right: 0.5rem;
                        img {
                            cursor: pointer;
                            width: 60px;
                            height: 60px;
                        }
                        border-radius: 0.3rem;
                        color: $color_while;
                        border: 0.1rem solid rgb(43, 147, 165);
                        background: #122244;
                        display: grid;
                        grid-template-columns: 4.5rem 2fr 1fr 5rem;
                        transition: 0.3s;
                        &:hover {
                            background: #253d72;
                        }
                        div .icon {
                            margin-left: 0.4rem;
                            font-size: 1.1rem;
                            cursor: pointer;
                        }
                    }
                }
            }
            // end main1
            .main2 {
                color: $color_while;
                margin-bottom: 3rem;
                .main2_add {
                    display: grid;
                    gap: 1rem;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    .add {
                        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.452);
                        cursor: pointer;
                        background: #131f31;
                        width: 100%;
                        border-radius: 0.4rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        .icon {
                            font-size: 5rem;
                        }
                    }
                    .box_Playlist {
                        overflow: hidden;
                        border-radius: 0.4rem;
                        img {
                            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.452);
                            cursor: pointer;
                            width: 100%;
                            height: 12rem;
                            border-radius: 0.4rem;
                            margin-bottom: 1rem;
                            transition: 0.4s;
                            &:hover {
                                transform: scale(1.05);
                                transition: 0.4s;
                            }
                        }
                    }
                }
            }
            // end main2
            .main3 {
                color: $color_while;
                margin-bottom: 2rem;
                .main3_nhacsi {
                    display: grid;
                    gap: 3rem;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                    .box_nhacsi {
                        width: 100%;
                        height: 15rem;
                        text-align: center;
                        .box-img {
                            margin: auto;
                            overflow: hidden;
                            width: 150px;
                            height: 150px;
                            border-radius: 100%;
                            .img-hover {
                                cursor: pointer;
                                position: relative;
                                img {
                                    width: 100%;
                                }
                                .icon {
                                    position: absolute;
                                    right: 37%;
                                    top: 39%;
                                    font-size: 2.5rem;
                                    display: none;
                                }
                                &:hover {
                                    filter: brightness(85%);
                                    transform: scale(1.1);
                                    transition: 0.8s;
                                }
                                &:hover .icon {
                                    display: block;
                                }
                            }
                        }
                        button {
                            box-shadow: 0 3px 5px 2px rgba(105, 165, 255, 0.247);
                            width: 10rem;
                            background: rgb(71, 150, 202);
                            border: none;
                            border-radius: 3rem;
                            padding: 0.5rem 1.2rem;
                            color: rgb(253, 254, 255);
                            &:hover {
                                background: rgb(55, 120, 163);
                            }
                        }
                    }
                }
            }
            //end main3
        }
    }
}
// tabed

@mixin handel_Personal {
    .Tabs_info {
        .tab_Personal {
            .tab_item {
                li {
                    display: inline;
                    padding: 0.3rem;
                    cursor: pointer;
                    font-size: 0.8rem;
                }
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .Personal {
        @include handel_Personal();
        .Tabs_info {
            .overview {
                .main3 {
                    .main3_nhacsi {
                        grid-template-columns: 1fr 1fr 1fr;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 700px) {
    .Personal {
        @include handel_Personal();
        .Tabs_info {
            .overview {
                .main1 {
                    grid-template-columns: 100%;
                }
                .main2 {
                    .main2_add {
                        grid-template-columns: 1fr 1fr;
                    }
                }
                .main3 {
                    .main3_nhacsi {
                        .box_nhacsi {
                            transform: scale(0.8);
                        }
                        gap: 0rem;
                        grid-template-columns: 1fr 1fr;
                    }
                }
            }
        }
    }
}
