.Personal {
    $color_while: rgb(228, 228, 228);
    padding-top: 2rem;
    margin-bottom: 31rem;
    .info_Personal {
        display: flex;
        justify-content: center;
        .info_main {
            text-align: center;
            flex-direction: column;
            h2 {
                color: $color_while;
            }
            img {
                border-radius: 100%;
            }
        }
    }
        .tab_Personal {
            display: flex;
            justify-content: center;
            .tab_item {
                border-radius: 4rem;
                background: #3689a5;
                padding: 0.5rem;
                color: $color_while;
                margin-top: 2rem;
                li {
                    display: inline;
                    padding: 2rem;
                    a {
                        color: $color_while;
                        text-decoration: none;
                    }
                }
            }
        }
        .overview {
            height: 100vh;
            margin-top: -2rem;
            h4 {
                color: rgb(231, 231, 231);
            }
            .main1 {
                display: grid;
                grid-template-columns: 30% 70%;
                gap: 1rem;
                margin-bottom: 2rem;
                .box-slider {
                    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.452);
                    height: 305px;
                    div {
                        img {  
                            border-radius: 0.3rem;
                            width: 100%;
                            height: 305px;
                            cursor: grab;
                        }
                        .slick-prev:before,
                        .slick-next:before {
                            display: none;
                        }
                    }
                   
                }

            }
            // end main1
            .main2 {
                color: $color_while;
                margin-bottom: 3rem;
                .main2_add {
                    display: grid;
                    gap: 1rem;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    .add {
                        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.452);
                        cursor: pointer;
                        background: #131f31;
                        width: 100%;
                        border-radius: 0.4rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        .icon {
                            font-size: 5rem;
                        }
                    }
                    .box_Playlist {
                        overflow: hidden;
                        border-radius: 0.4rem;
                        img {
                            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.452);
                            cursor: pointer;
                            width: 100%;
                            height: 12rem;
                            border-radius: 0.4rem;
                            margin-bottom: 1rem;
                            transition: 0.4s;
                            &:hover {
                                transform: scale(1.05);
                                transition: 0.4s;
                            }
                        }
                    }
                }
            }
            // end main2
        }
}
// tabed

@mixin handel_Personal {
        .tab_Personal {
            .tab_item {
                li {
                    display: inline;
                    padding: 0.3rem;
                    cursor: pointer;
                    font-size: 0.8rem;
                }
            }
        }  
}
@media (min-width: 768px) and (max-width: 1024px) {
    .Personal {
        @include handel_Personal();
    }
}
@media only screen and (max-width: 700px) {
    .Personal {
        @include handel_Personal();
            .overview {
                .main2 {
                    .main2_add {
                        grid-template-columns: 1fr 1fr;
                    }
                }
            }
    }
}
