.artistDetail {
    .banner {
        min-height: 410px;
        // opacity: 40%;
        background-size: 100% !important;
       
    }
    margin-bottom: 15rem;
}
.img_right{
    img{
        width: 210px;
        height: 210px;
        border-radius: 50%;
        border: 0.1px solid rgba(0, 58, 97, 0.651);
        // opacity: 100% !important;
    }
}
img{
    object-fit: cover;
}
.tab_Personal .tab_item {
    border-radius: 4rem;
    background: #3689a5;
    padding: 0.5rem;
    color: #e4e4e4;
    margin-top: 2rem;
  }
  
   .tab_Personal .tab_item li {
    display: inline;
    padding: 2rem;
  
  }
  
 .tab_Personal .tab_item li a {
    color: #e4e4e4;
    text-decoration: none;
  }
  
  .overview {
    margin-top: -2rem;
  }
@media (min-width: 768px) and (max-width: 1024px) {
   .tab_Personal .tab_item li {
      display: inline;
      padding: 0.3rem;
      cursor: pointer;
      font-size: 0.8rem;
    }
  }
  
  @media only screen and (max-width: 700px) {
    .tab_Personal .tab_item li {
      display: inline;
      padding: 0.3rem;
      cursor: pointer;
      font-size: 0.8rem;
    }
  
  }
  .hover-boxs:hover{
      background: rgba(106, 220, 255, 0.808) !important;
      transition: 0.5s;
      transform: scale(1.04);
  }