@mixin  handel_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.forgotPassword {
    @include handel_flex();
   .main_forgot {
    background: #0C202E;
    @include handel_flex();
    text-align: center;
    height: 17rem;
    margin-top: 2rem;
    border-radius: 0.4rem;
    padding: 5rem;
   }
   h2 {
       font-weight: 600;
       color: #fff;
   }
   p {
       color: rgb(165, 165, 165);
       font-size: 0.8rem;
   }
   form {
      @include handel_flex();
      input {
          background: #2a3955;
          border: none;
          width: 100%;
          height: 2.5rem;
          border-radius: 0.3rem;
          padding-left: 0.6rem;
          color: rgb(211, 250, 250);
          &::placeholder {
            color: rgb(72, 165, 165);
          }
      } 
      .err {
        color: rgb(235, 72, 72);
        font-size: 0.9rem;
      }
      .btn_forgot {
          border: none;
          background: #1E6994;
          color: #fff;
          width: 20rem;
          border-radius: 0.3rem;
          height: 2.3rem;
      }
   }
 @media only screen and (max-width: 700px) {
    .main_forgot {
        padding: 0.4rem;
        margin: 1rem;
       }
       p {
        font-size: 0.55rem;
    }
    form {
        @include handel_flex();
        input {
            width: 150%;
        } 
        .err {
            margin: 0.2rem;
          font-size: 0.9rem;
        }
        .btn_forgot {
            width: 150%;
        }
     }
}
}

