.container-topthanhhanh {
    margin: 0 40px;
    margin-bottom: 400px;
    .title-top-tt {
        margin-top: 20px;
        margin-bottom: 15px;
        .text-title-top-tt {
            .color-top-tt {
                color: #a8eff9;
            }
        }
        .div-svg {
            width: 36px;
            height: 36px;
            border: 2px solid #a8eff9;
            margin-left: 20px;
            background: #a8eff9;
            border-radius: 50%;
            text-align: center;
            .svg {
                margin: auto;
                width: 30px;
                height: 30px;
                color: #a8eff9;
            }
        }
    }
    .title-top-tt:hover {
        .text-title-top-tt {
            .color-top-tt {
                color: #00dffe;
                text-shadow: 0 0 5px #00afc7;
            }
        }
        .div-svg {
            border: 2px solid #00afc7;
            box-shadow: 0 0 5px #dbf5ff;
        }
    }

    .grid-2 {
        display: flex;
    }
    .top-tt-main {
        .grid-4-top-tt {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 25px;
        }
    }
    //See All---------------

    .top-tt-main .grid-4-top-tt div:nth-of-type(n + 7) {
        display: none;
    }
    .top-tt-main #show-all:checked ~ .grid-4-top-tt div {
        display: block;
    }
    .top-tt-main #show-all ~ label[for="show-all"] {
        display: none;
    }
    %handel_show {
        display: block;
        background: #061525;
        color: #e1f2f5;
        text-align: center;
        border-radius: 3rem;
        width: 12rem;
        padding: 0.5rem 0 0.5rem 0;
        border: 0.1rem solid aqua;
        cursor: pointer;
        position: absolute;
        bottom: -3rem;
    }
    .top-tt-main {
        position: relative;
        display: flex;
        justify-content: center;
        #show-all:checked ~ .text-hide {
            @extend %handel_show;
        }
        #show-all:not(:checked) ~ .text-show {
            @extend %handel_show;
        }
        #show-all {
            display: none;
        }
    }
    //End See All-----------
}
@media screen and(min-width:768px) and (max-width: 1024px) {
    .container-topthanhhanh {
        margin: 0 20px;
        .top-tt-main {
            .grid-4-top-tt {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .container-topthanhhanh {
        margin: 0 10px;
        .top-tt-main {
            .grid-4-top-tt {
                display: grid;
                grid-template-columns: 1fr;
            }
        }
    }
}
.box-music{
    .music_item--grid{
        display: grid;
        grid-template-columns: 3rem 3.7rem 2fr 1fr 5rem !important;
  
    }
   
}
.stt {
    color: rgba(74, 144, 226, 0);
    font-size: 1.5rem;
    -webkit-text-stroke: 1px #6ed1ff;
}.ml-3s{
    margin-left: 3.24rem !important;
}