.romdetail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
  .room {
    border-right: 0.01rem solid rgba(0, 255, 255, 0.295);
    height: 100vh;
    padding-right: 2rem;
    .search_music {
      .css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
        color: rgb(203, 234, 248) !important;
      }
      .css-i4bv87-MuiSvgIcon-root {
        color: rgb(203, 234, 248) !important;
      }
      .css-ghsjzk-MuiInputBase-root-MuiInput-root:before {
        border-bottom: 1px solid rgba(39, 201, 193, 0.678);
      }
      .css-ei7t0p-MuiAutocomplete-root .MuiInput-root .MuiInput-input {
        color: #fff !important;
      }
    }
  }
}

  .grid-user{
      display: grid;
      grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 2rem;
  }
  .search_user {
    .css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
      color: #fff !important;
    }
    .MuiInput-input {
      color: #fff !important;
    }
    .css-1480iag-MuiInputBase-root-MuiInput-root:before {
      border-bottom: 1px solid rgba(93, 217, 255, 0.562) !important;
    }
    .css-1480iag-MuiInputBase-root-MuiInput-root:after {
      border-bottom: 1px solid rgb(102, 255, 209)!important;
    }
  }
  @media screen  and (max-width:915px){
    .romdetail {
        display: grid;
        grid-template-columns:  1fr;
        .room {
            border-right:none;
            height: 70vh;

            padding-right: none;
            border-bottom: 2px solid rgb(203, 252, 255); 
          }
    }
      
}