.modal-logged-parent {
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.check_login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 0.3rem solid rgb(255, 0, 0);
    border-radius: 0.3rem;
    background-color: #fff !important;
}

.parent-alert{
    position: fixed;
    z-index: 30;
    bottom: 8rem;
    right: 3rem;
    animation-name: alert;
    animation-duration: 0.5s;
}

@keyframes alert {
    from {
        right: -10rem;
    }
    to {
        right: 3rem;
    }
}

