.container-chart{
    margin:  0 40px;
    margin-bottom: 200px;
    h4 {
      margin-top: 2rem;
      color: #a8eff9;
    }
    .list-box-musicChart {
      overflow: auto;
      height: 17rem;
      padding-right: 0.5rem;
      .box-chart { 
        display: grid;
        grid-template-columns: 2.5rem 4rem 50% 1fr 0.4fr;
        height: 5rem;
        %handel_time_icon {
          color: #fff;
          line-height: 5rem;
        }
        .time_txt {
          @extend %handel_time_icon;
        }
        .icon_item {
          @extend %handel_time_icon;
          .icon {
            margin-right: 1rem;
          }
        }
      }
    }
    .quantam{
        margin-top: 30px;
        .quantam-h4{
          color: #a8eff9;
          margin-bottom: 20px;
        }
      }
         .chart {
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.795);
          margin-top: 1.4rem;
          text {
              fill: rgb(233, 232, 232) !important;
          }
          flex-grow: 1;
          .chartMusic {
              width: 99%;
              height: 25rem;
          }
      }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container-chart{
    .list-box-musicChart {
      .box-chart { 
        display: grid;
        grid-template-columns: 2.5rem 4rem 40% 1fr 0.5fr;
      }
    }
  }
}
@media only screen and (max-width: 700px) {
  .container-chart{
    .list-box-musicChart {
      .box-chart { 
        display: grid;
        grid-template-columns: 2.5rem 4rem 25% 3.3rem 7rem;
      }
    }
  }
}

