

    .music_item--grid{
        display: grid;
        grid-template-columns: 3rem 3.7rem 2fr 1fr 5rem !important;
  
    }
   

  .stt {
    color: rgba(74, 144, 226, 0);
    font-size: 1.5rem;
    -webkit-text-stroke: 1px #6ed1ff;
  }.ml-3s{
    margin-left: 3.24rem !important;
  }