@import "../../../styles/stylesDefaut.scss";

.todo_main {
    padding-left: 40px;
    padding-right: 40px;
   h3 {
    margin:42px 0 42px 0;
   }

.listToDo {
    background-color: #1d2d47;
    color: #fff;
    padding: 1.5rem;
    table,th, td{
        border-bottom: 1px solid #56ccf2;
        padding: 1rem 0rem;
    }
    table{
        width: 100%;
        .col{
            button{
                background-color: #5e90ca;
                border: none;
            }
            select {
                background-color: #5e90ca;
                width: 150px;
                height: 38px;
                border: none;
                border-radius: 5px;
                color: #fff;
                font-size: 1rem;
                padding-left: 0.5rem;
            }
            .col-2{
                width: 45%;
            }
            .status{
                button{
                    padding: 0.2rem 1.3rem ;
                }
            }
            .rows{
                button{
                    padding: 0.2rem 1.3rem ;
                }
                button:nth-child(1){
                    background-color: #28aab2;
                    margin-right: 0.5rem;
                }
                button:nth-child(2){
                    background-color: #b22828;
                }
            }
        }
        [class|=search]{
            position: relative;
            input{
                background-color: #121a34;
                border: none;
                height: 40px;
                width: 230px;
                padding: 0rem 0.5rem;
                margin-left: 1rem;
            }
            .col-icon{
                position: absolute;
                top: 1.5rem;
                right: 1rem;
                color: #28aab2;
                font-size: 25px;
                cursor: pointer;
            }
        }
        tr:nth-child(2){
            input{
                border-radius: 0.2rem;
                padding-left: 0.8rem;
                width: 45px;
                color: #fff;
                border: none;
                background-color: #5e90ca;
            }
        }
        tr:nth-child(5){
            td:nth-child(1){
                width: 30%;
            }
        }
    }
}

}
// tablet
@media screen and (min-width:768px) and (max-width:1024px) {
    .add-todo button {
        font-size: 0.7rem;
      }
}
@media only screen and (max-width: 736px){
    .title-table th:nth-child(3):before {
        content: "";
        margin-left: 2.3rem;
    }
    .status button {
        margin-left: 2rem;
    }
    .todo_main {
        display: grid;
        grid-template-columns: 1fr;
    }
    .add-todo button {
        font-size: 0.7rem;
      }
    .listToDo {
        overflow-x: auto;
    }
    table{
        .add-todo button{
            width: 6rem;
        }
    }
}