.profile-grid{
    margin: 40px;
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 40px;
    .profile-box1, .profile-box2{
        box-shadow: 0 0 0.5rem;
        border: 0.1px  solid rgba(17, 133, 148, 0.575);
        border-radius: 15px;
    
    }
      
}
.profile-box1{
    .img-centert{
        img{
            width: 100%;
            border-radius: 50%;

        }
    }
}
.color-profile{
    color: white;
}
.profile-box2{
    .hover-text:hover{
        color: rgb(185, 255, 255) !important;
        border-bottom: 0.1px  solid rgba(17, 133, 148, 0.575) !important;

    }
    .hover-text{
        border-bottom: 0.1px  solid #222f44;;

    }
}