.handleForm {
    display: flex;
    justify-content: center;
    img {
        border-radius:0.5rem 0  0 0.5rem;
    }
    .tab_login {
        border-radius: 0 0.5rem 0.5rem 0 ;
        background: #3D5983;
       .link_handel {
         display: grid;
         grid-template-columns: 1fr 1fr;
         section {
           padding: 1.5rem 4rem 1.5rem 4rem;
           border-radius: 0 0.5rem 0 0;
           border-bottom: 0.2rem solid rgb(160, 159, 159);
           a {
             color: #fff;
             text-decoration: none;
             font-weight: 500;
             font-size: 1.5rem;
             vertical-align: middle;
             margin: 0;

           }
         }
       }
        .form-input {
          margin: 1.5rem;
          .input {
            width: 100%;
          }
           label {
            color: rgb(221, 221, 221);
            }
           input{
            color: #fff;          
            border-bottom: 0.1rem solid #65f0d9;
        
            

         }
         .gender {
            display: grid;
            grid-template-columns: 4rem 5rem;
            border-bottom: 0.1rem solid #7196ce;
            padding-left: 8rem;
            margin-top: -0.7rem;
            div {
               span {
                color: rgb(221, 221, 221);
                
            } 
            input {
              width: 100%;
                margin-top: 0.4rem;
            }
            }
        }
         .forgot_pass {
           color: #fff;
           text-decoration: none;
           font-size: 1rem;
         }
        }
        .kep-login-facebook {
          padding: 0.5rem;
          margin-left: 0.8rem;
          text-transform: none;
        }
    }  
}

