
    .noti_activityAccount{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#0e192a;
        height: 100%;
        margin: 2.7rem;
        border-radius: 0.5rem;
        color: #fff;
        #icon-check{
            color: rgb(47, 211, 203); 
        }
        
    }