
    .noti_activityAccount{
        text-align: center;
        padding-top: 200px;
        background-color: rgb(255, 255, 255);
        height: 600px;
        #icon-check{
            color: rgb(17, 156, 70); 
        }
        
    }